@import '../variables.scss';

.ant-pagination {
  display: flex;
  font-size: 15px;
  line-height: 22px;

  & * {
    font-family: 'Open Sans', sans-serif;
  }

  .ant-pagination-next,
  .ant-pagination-prev {
    display: none;
  }

  .ant-pagination-item {
    width: 32px;
    height: 32px;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;

    &.ant-pagination-item-active {
      background-color: $pink-100;
      border: none;

      a {
        color: white;
      }
    }
  }
}